<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<!-- <p style="font-size:15px">Michigan Diabetes Modelling Group</p> -->
				<img class="img-fluid mx-auto" src="{{ site.baseurl }}/images/logo/icon.png"
				     style="max-width: 120px;">
			</div>

			<div class="col-sm-4">
				<h4>Links</h4>
				<script async defer src="https://buttons.github.io/buttons.js"></script> 
				<a class="github-button" href="https://github.com/ybshao0709/ybshao0709.github.io" 
				   data-color-scheme="no-preference: light; light: light; dark: light;" 
				   data-size="large" aria-label="Follow GitHub">Visit our GitHub folder</a>
			</div>

			<div class="col-sm-4">
				<h4>Contact</h4>
				<a href="https://sph.umich.edu/biostat/">Department of Biostatistics <br> School of Public Health <br> University of Michigan <br> Ann Arbor MI, 48105</a>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
