<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<h2>{{ University of Michigan }}</h2>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/icon.png"
				     style="max-width: 150px;">
			</div>

			<div class="col-sm-4">
				<h2>Links</h2>
				<ul class="list-unstyled">
					<li><a href="https://github.com/ybshao0709/ybshao0709.github.io">Github Repository</a></li>
					<li><a href="https://diabetes.med.umich.edu/affiliated-centers/michigan-center-diabetes-translational-research-mcdtr">MCDTR</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<h2>Contact</h2>
				<p>Some Address</p>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
