---
layout: default
---

<div class="col-sm-12">
    <div class=row>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/team">Team</a></li>
            <li class="breadcrumb-item text-capitalize"><a href="{{ site.baseurl }}/team#{{ page.category }}">{{ page.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
        </nav>
    </div>
    <div class="row text-center">
        <!-- Avatar -->
        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ page.image }}"
             class="img-circle"
             style="filter: grayscale(0%); max-width: 200px;"/>

        <!-- Name & Role -->
        <h1>{{ page.title }}</h1>
        <h4>{{ page.role }}</h4>

        <!-- Social -->
        <ul class="list-inline list-unstyled">
            <!-- Personal Website -->
            {% if page.social.website %}
                <li><a target="blank" href="{{page.social.website}}"><i class="fas fa-globe"></i></a></li>
            {% endif %}
            <!-- Google Scholar -->
            {% if page.social.google-scholar %}
                <li><a target="blank" href="{{page.social.google-scholar}}"><i class="fab fa-google"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
